@model List<Machine>
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-bottom: 20px;" class="text-center border-bottom">
    <h5 class="display-4 text-primary"><b style="font-size: 25px;">Customer List</b></h5>
</div>

@*<button style="margin: 10px; float: right" type="button" class="btn btn-success float-right">Save</button>*@
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Machine Name</th>
            <th scope="col">UniqueId</th>
            <th scope="col">License</th>
            <th scope="col">Active</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.UniqueId</td>
                    <td>
                        @if (item.License != null)
                        {
                            <span> Key:</span><a style="margin-left: 5px;" asp-controller="License" asp-action="Edit" asp-route-id="@item.Id"> @item.License?.Key</a>
                            <p>Expired Date: @item.License?.ExpireDate.ToString("dd/MM/yyyy")</p>
                        }

                    </td>
                    <td>
                        <input type="checkbox" asp-for="@item.Active" disabled />

                    </td>
                    <td> <a style="margin-left: 5px;" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-primary"></i></a></td>
                    <th>
                        <form method="Delete" asp-action="Delete" asp-route-id="@item.Id"
                              onclick="return confirm('Are you sure you want to delete this?')">
                            <button style="border: none; background: transparent;" type="submit"><i class="fas fa-trash-alt text-warning"></i></button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{ 

    <script>
        $(document).ready(function () {
            $("input[type='checkbox']").change(function (e) {
                var id = $(this).closest('tr').children('td:first').text()
                $.ajax({
                    type: "PUT",
                    dataType: "json",
                    contentType: "application/json",
                    url: '/api/machine/' + id,

                    data: JSON.stringify({ })
                });
            });
        });

    </script>
}

